<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Monitor</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>fontello.ttf</string>
		<string>8-Bit Madness.ttf</string>
		<string>BitMap.ttf</string>
		<string>Intellecta Digital.ttf</string>
		<string>Josefin Sans.ttf</string>
		<string>LCDDot TR.ttf</string>
		<string>LED Dot-Matrix.ttf</string>
		<string>Open 24 Display St.ttf</string>
		<string>kg-second-chances.ketch.ttf</string>
		<string>kg-second-chances.olid.ttf</string>
		<string>Edge Of The Galaxy.otf</string>
		<string>Library 3 AM Soft.otf</string>
		<string>Neoneon.otf</string>
		<string>Siti Maesaroh.otf</string>
		<string>VFD Hypernova.otf</string>
		<string>Znikomitno25.otf</string>
		<string>2Peas 4th of July.ttf</string>
		<string>3D Isometric.ttf</string>
		<string>Amadeus.ttf</string>
		<string>AristotelianNBP.ttf</string>
		<string>Brewsky.ttf</string>
		<string>Cute Aurora.ttf</string>
		<string>Dreamland Stars.ttf</string>
		<string>Dreamland.ttf</string>
		<string>E1234.ttf</string>
		<string>Erbos Draco 1st Open NBP.ttf</string>
		<string>Help Me.ttf</string>
		<string>Hexcore.ttf</string>
		<string>Killen.ttf</string>
		<string>NBP Readout.ttf</string>
		<string>Neon Sans.ttf</string>
		<string>New Walt Disney Ui.ttf</string>
		<string>Novem.ttf</string>
		<string>Nugo Sans.ttf</string>
		<string>Parisienne.ttf</string>
		<string>Rock.ttf</string>
		<string>RyujinAttack.ttf</string>
		<string>Sacramento.ttf</string>
		<string>Star Trek Future.ttf</string>
		<string>Time Burner.ttf</string>
		<string>Wanders.ttf</string>
		<string>a dripping marker.ttf</string>
		<string>moonhouse.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
